#employees {
    margin: 0;
    padding: 0;

    width: 20rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: stretch;
}

#employees h1 {
    margin: 0;
    padding: 0;
    
    text-align: center;
}

#employees > label {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: .2rem;
    align-items: stretch;
}

#employees input {
    margin: 0;
    padding: 0 1rem;

    height: 3rem;

    border-radius: 1.5rem;
    border-width: 0;

    background-color: var(--input-color);
}

#employees input[type="submit"] {
    font-size: 1rem;
    background-color: var(--highlight-color);
}

#employees .label {
    margin: 0 1rem;
}

#employees .label > h3 {
    margin: 0;
}