form {
    margin: 0;
    padding: 0;

    width: 20rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: stretch;
}

form > header {
    margin: 0;
    padding: 0;
    
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
}

form .error {
    text-align: center;
}

form label {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: .2rem;
    align-items: stretch;
}

form label > header {
    margin: 0 1rem;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    gap: 1rem;
}

form label > header h3 {
    margin: 0;
    padding: 0;

    white-space: nowrap;
}

form label > header .error {
    white-space: nowrap;    
}

form input {
    margin: 0;
    padding: 0 1rem;

    height: 3rem;

    border-radius: 1.5rem;
    border-width: 0;

    background-color: var(--input-color);
}

form input[type="submit"] {
    font-size: 1rem;
    background-color: var(--highlight-color);
}