form {
    margin: 2rem 0;
    padding: 0;

    width: 20rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: stretch;
}

form > header {
    margin: 0;
    padding: 0;
    
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
}

form > .error {
    text-align: center;
}

form label {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
}

form .field {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: .2rem;
}

form .field .inline {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

form .field > header {
    margin: 0 1rem;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

form .field h3 {
    margin: 0;
    padding: 0;

    white-space: nowrap;
}

form .field .error {
    white-space: nowrap;    
}

form input {
    margin: 0;
    padding: 0 1rem;

    height: 3rem;

    border-radius: 1.5rem;
    border: none;

    background-color: var(--input-color);
}

form input[type="radio"] {
    width: 1.5rem;
    height: 1.5rem;
}

form input[type="submit"] {
    font-size: 1rem;
    background-color: var(--active-color);

    cursor: pointer;
    
    transition: filter .2s;
}

form input[type="submit"]:hover {
    filter: brightness(90%);
}

form input[type="checkbox"] {
    width: 1.5rem;
}

form .visible {
    display: block;
}

form textarea {
    border: none;
    min-width: 100%;
    max-width: 100%;
    min-height: 3rem;
    max-height: 20rem;
    border-radius: 1.5rem;
    padding: 0.8rem;
    box-sizing: border-box;
}