#header {
    margin-bottom: 1rem;
    padding: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: var(--header-color);
}

#header ul {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    gap: 2rem;
}

#header li {
    list-style: none;
}

#header a {
    color: black;
    text-decoration: none;
}