#login {
    margin: 0;
    padding: 0;

    width: 20rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: stretch;
}

#login > label {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: .2rem;
    align-items: stretch;
}

#login input {
    margin: 0;
    padding: 0 1rem;

    height: 3rem;

    border-radius: 1.5rem;
    border-width: 0;

    background-color: var(--input-color);
}

#login input[type="submit"] {
    font-size: 1rem;
    background-color: var(--highlight-color);
}

#login .label {
    margin: 0 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#login .label > h3 {
    margin: 0;
}

#login input.error {
    border-color: var(--error-color);
}

#login-error {
    margin: 0;
    padding: 0;

    text-align: center;
    color: var(--error-color);
}

#login span.error {
    color: var(--error-color);
}
