#login {
    margin: 0;
    padding: 0;

    width: 20rem;

    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: stretch;
}

#login > label {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: .2rem;
    align-items: stretch;
}

#login input {
    border-width: 2px;
}

#login .label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#login input.error {
    border-color: var(--error-color);
}

#login-error {
    margin: 0;
    padding: 0;

    color: var(--error-color);
}

#login span.error {
    color: var(--error-color);
}
