.form-wrapper {
    margin: 5px;
}
table {
    border: 2px black solid;
    padding: 5px;
}
td, th {
    padding: 10px;
    border: 2px black solid; 
    cursor: pointer;
}
.table-text {
    font-size: 1.3rem;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: black;
}
.back-button {
    font-size: 1rem;
    background-color: var(--active-color);

    transition: filter .2s;

    margin: 0;
    padding: 0 5rem;

    height: 3rem;

    cursor: pointer;

    border-radius: 1.5rem;
    border-width: 0;
}

.back-button:hover {
    filter: brightness(90%);
}
