:root {
    --background-color: #ffECD1;
    --highlight-color: #E2B19D;
    --header-color: #ffE9A7;
    --input-color: #FFF;
    --error-color: #F00;
}

body {
    margin: 0;
    padding: 0;

    min-height: 100vh;

    display: flex;
    flex-direction: column;

    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
}

.page-wrapper {
    margin: auto;
}

.error {
    color: var(--error-color);
}