:root {
    --background-color: #ffECD1;
    --highlight-color: #E2B19D;
    --input-color: #FFF;
    --error-color: #F00;
}

body {
    margin: 0;
    padding: 0;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--background-color);
}

.page-wrapper {
    margin: auto;

}

/* .container {
    margin: 0;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 1rem;

    background-color: var(--container-color);
} */