:root {
    --background-color: #ffECD1;
    --active-color: #E2B19D;
    --highlight-color: #ffE9A7;
    --input-color: #FFF;
    --error-color: #F00;
}

body {
    margin: 0;
    padding: 0;

    min-height: 100vh;

    display: flex;
    flex-direction: column;

    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
}

.page-wrapper {
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.error {
    color: var(--error-color);
}

footer {
    color: gray;
    text-align: center;
    font-size: small;
}